<!DOCTYPE html>
<html lang="de">
<head>
<meta charset="UTF-8">
<title>KERS · Schnellste Runde</title>
<base href="/">
<link rel="icon" href="/static/brand/Icon.ico" type="image/x-icon">
<link rel="stylesheet" href="/static/css/core.css">
<link rel="stylesheet" href="/static/parts/flbanner.css">
</head>
<body class="part">

<!-- N8: Fastest-Lap-Banner (lila) -->
<div class="part-pad">
<div id="fl-banner" class="part-root">
  <span class="flb-ico">⚡</span>
  <span><div class="flb-lbl">FASTEST LAP</div><div class="flb-name"></div></span>
  <span class="flb-time"></span>
</div>
</div>

<script src="/static/js/core.js"></script>
<script src="/static/parts/flbanner.js"></script>
</body>
</html>
