<!DOCTYPE html>
<html lang="de">
<head>
<meta charset="UTF-8">
<title>KERS · Hotlap-Boxen</title>
<base href="/">
<link rel="icon" href="/static/brand/Icon.ico" type="image/x-icon">
<link rel="stylesheet" href="/static/css/core.css">
<link rel="stylesheet" href="/static/parts/hotlap.css">
</head>
<body class="part">

<!-- Quali: Hot-Lap-Boxen (wer ist gerade auf einer fliegenden Runde?) -->
<div class="part-pad">
<div id="hotlap-area" class="part-root">
  <div class="hotlap-box"></div>
  <div class="hotlap-box"></div>
  <div class="hotlap-box"></div>
  <div class="hotlap-box"></div>
</div>
</div>

<script src="/static/js/core.js"></script>
<script src="/static/parts/hotlap.js"></script>
</body>
</html>
