<!DOCTYPE html>
<html lang="de">
<head>
<meta charset="UTF-8">
<title>KERS · Start-Ampel</title>
<base href="/">
<link rel="icon" href="/static/brand/Icon.ico" type="image/x-icon">
<link rel="stylesheet" href="/static/css/core.css">
<link rel="stylesheet" href="/static/parts/lights.css">
</head>
<body class="part">

<!-- Start-Ampel: 5 Säulen à 2 Lampen (F1-Startgantry) -->
<div class="part-pad">
<div id="start-lights" class="part-root">
  <div class="sl-gantry">
    <div class="sl-col"><div class="sl-lamp"></div><div class="sl-lamp"></div></div>
    <div class="sl-col"><div class="sl-lamp"></div><div class="sl-lamp"></div></div>
    <div class="sl-col"><div class="sl-lamp"></div><div class="sl-lamp"></div></div>
    <div class="sl-col"><div class="sl-lamp"></div><div class="sl-lamp"></div></div>
    <div class="sl-col"><div class="sl-lamp"></div><div class="sl-lamp"></div></div>
  </div>
  <div class="sl-msg">Lights Out</div>
</div>
</div>

<script src="/static/js/core.js"></script>
<script src="/static/parts/lights.js"></script>
</body>
</html>
