<!DOCTYPE html>
<html lang="de">
<head>
<meta charset="UTF-8">
<title>KERS · Pit-Timer</title>
<base href="/">
<link rel="icon" href="/static/brand/Icon.ico" type="image/x-icon">
<link rel="stylesheet" href="/static/css/core.css">
<link rel="stylesheet" href="/static/parts/pit.css">
</head>
<body class="part">

<!-- Live-Boxenstopp-Timer (max. 3 Karten gleichzeitig) -->
<div class="part-pad">
<div id="pit-stack" class="part-root"></div>
</div>

<script src="/static/js/core.js"></script>
<script src="/static/parts/pit.js"></script>
</body>
</html>
