<!DOCTYPE html>
<html lang="de">
<head>
<meta charset="UTF-8">
<title>KERS · Pit-Fenster-Projektion</title>
<base href="/">
<link rel="icon" href="/static/brand/Icon.ico" type="image/x-icon">
<link rel="stylesheet" href="/static/css/core.css">
<link rel="stylesheet" href="/static/parts/pitproj.css">
</head>
<body class="part">

<!-- Welle5 · R3.2: Pit-Fenster-Projektion (auto, Kamera-Fahrer mit Schaden) -->
<div class="part-pad">
<div id="pit-proj" class="part-root"></div>
</div>

<script src="/static/js/core.js"></script>
<script src="/static/parts/pitproj.js"></script>
</body>
</html>
