<!DOCTYPE html>
<html lang="de">
<head>
<meta charset="UTF-8">
<title>KERS · Undercut-Alarm</title>
<base href="/">
<link rel="icon" href="/static/brand/Icon.ico" type="image/x-icon">
<link rel="stylesheet" href="/static/css/core.css">
<link rel="stylesheet" href="/static/parts/undercut.css">
</head>
<body class="part">

<!-- Undercut-Alarm: gleicher Banner wie die Rennleitung, aber NUR Undercut-Meldungen -->
<div class="part-pad">
<div id="race-msg" class="part-root"><span class="rm-icon"></span><span class="rm-text"></span></div>
</div>

<script src="/static/js/core.js"></script>
<script src="/static/parts/_msgbanner.js"></script>
<script src="/static/parts/undercut.js"></script>
</body>
</html>
